body {
    margin: 0px;
    background: rgb(163, 163, 163);
}

label {
    display: block;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

input {
    display: block;
}

.button-creator {
    display: grid;
    grid-gap: 30px;
    padding: 30px;
    grid-template-columns: 200px 1fr;
}

#controles {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: -80px;
    font-size: .875rem;
    background: #eee;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, .1)
}

.css {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #333;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.css span {
    display: block;
    margin-bottom: .5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.resultado {
    display: block;
    margin-left: 50px;
    padding-left: 80px;
}